		@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

		.wrapper {
			width: 960px;
			margin: 0 auto;
		}

		body	{
			margin: 0;
			background-image: url(https://wings.samco.aero/Wings/img/background.jpg);
			background-size: cover;
			font-family: raleway san-sarif;
		}

		header {
			background-color: rgba(105, 107, 106, 0.55);
			overflow: hidden;
		}

		header nav {
			padding: 20px 0;
			float: right;

		}

		header nav ul	{
			text-decoration: none;
			list-style: none;
			margin: 0;
		}
		header nav ul li {
			display: inline-block;
			margin: 0 15px;
		}

		a {
			text-decoration: none;
			color: white;
			font-family: arial;
			padding:20px 2px ;
			opacity: 1;
		}

		a:hover {
			background-color: rgba(64, 64, 84, 0.53);

		}

		h2	{
			font-family: arial ;
			font-size: 20px;
		}

		.form {
			width: 500px;
			margin: 50px auto;
		}

		form	{
			padding: 20px;
			border: 1px solid;
			border-radius: 5px;	
			border-color:rgb(166, 204, 184) ;
			background-color: rgba(166, 204, 190, 0.29);
			box-shadow: 0px 1px 10px -1px rgba(23, 23, 21, 0.38);

		}

		input {
			width: 	98%;
			height: 30px;
			border: none;
			border-radius: 3px;
			padding-left: 2%;  
			font-size: 	15px;
			margin-bottom: 10px;
			background-color: rgba(155, 146, 234, 0.3);
			
			

		}
		input[type="submit"] {
			width: 100%;
			padding:0;
			margin-top: 10px;
			background-color:  rgba(96, 98, 113, 1);
		}

		input[type="checkbox"]{
			width: 10%;
			height: 15px;
			padding: 0;
		}

		form a {
			margin-left: 40%;
			color: lightcoral;
		}

		footer	{
			width:100%;
			background-color: rgba(43, 129, 179, 0.49);
			overflow: hidden;
			margin-top: 190px;
		}

		footer nav {
			float: left;
			padding:20px 0;
			margin:0;

		}

		footer nav ul{
			margin:0;
		}

		footer nav ul li{
			display: inline-flex;
			margin:0 10px;
		}
